* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
.container {
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  text-align: center;
  
}


/*main header*/
/*@media screen and (min-width: 560px) {
  position: relative;
  border: none;
  margin-top: 1rem;
}
*/
/* Top Nav/Header */
.name {
  color: #0097A7;
  font-size: 5.6rem;
  font-family: 'Nunito Sans',Arial,sans-serif;
  font-style: normal;
  font-weight: bold;
  margin-top: 56px;
}
.title {
  font-family: 'Nunito Sans',Arial,sans-serif;
  color: #5C5C5C;
  font-size: 3.2rem;
  margin-top: 10px;

}
nav {
  width: 100%;
}
ul {
  font-family: helvetica;
  font-size: 1.4rem;
  display: inline-block;
  margin-top: 15px;
}
li {
  float: left;
}
li a {
  font-size: 2.0rem;
  display: inline-block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: #0D47A1;
  padding-bottom: 30px;
  font-family: helvetica;
}
/* links */
a:link {
  text-decoration: none;
  color: #0D47A1;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}
/* Icon description */
.column_img {
  float: left;
  width: 10%;
  margin-left: 35%;

}
.column_txt {
  float: left;
  width: 35%;
  font-size: 2.4rem;
  max-width: 80%;
  text-align: left;
  display: inline-block;
  margin-left: 1px;
  /*margin-top: 20px;*/
  font-family: 'Nunito',Arial,sans-serif;
}
.row:after {
  content: "";
  display: table;
  clear: both;
  margin: 1%;
}
.plane {
  align-items: center;
}

/* DocuVAULT */
.projectcontainer {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
  align-items: center;
}

.doc_txt {
  font-size: 2rem;
  max-width: 400px;
  font-family: 'Nunito',Arial,sans-serif;

}

/*body*/
h3.explore {
  color: #0097A7;
  font-size: 2.2rem;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}
h4.DocuVAULT {
  color: #0D47A1;
  font-weight: bold;
  font-size: 4.8rem;
  text-align: center;
  font-family: 'Nunito Sans',Arial,sans-serif;
  margin-bottom: 30px;
}
.DocuVAULT-text {
  float: left;
  padding-bottom: 20px;
  font-size: 1.8rem;
}
p.case {
  font-size: 1.8rem;
  color: #0D47A1;
  font-family: "helvetica"
}
/* Me in a Minute */
h4.me {
  font-size: 4.8rem;
  color: #0D47A1;
  font-weight: bold;
  padding-top: 10%;
  font-family: 'Nunito Sans',Arial,sans-serif;
}
p.aboutmetext {
  display: inline-block;
  margin-top: 20px;
  max-width: 610px;
  font-size: 2rem;
  line-height: 180%;
  text-align: center;
  font-family: 'Nunito',Arial,sans-serif;
}

/*footer*/
h3.connect {
  text-align: center;
  display: inline-block;
}
.chat {
  font-size: 3.2rem;
  color: #0D47A1;
  font-weight: bold;
  text-align: center;
  width: 100%;
  font-family: 'Nunito Sans',Arial,sans-serif;
  margin-top: 50px;
}

.links {
  align-items: center;
  color: #333333;
  font-size: 1.5rem;
  margin-bottom: 50px;
}

a.link:link {
  padding: 0;
}
.linkedin{
  padding-right: 5px;
}
.github {
  padding-right: 5px;
  padding-left: 5px;
}
.email{
  padding-left: 5px;
}
a.git:link {
  padding: 0;

}
a.mail:link {
  padding: 0;
}
/*Projects*/
/*/mobile*/
.cloud-head {
  display: flex;
  flex-wrap: wrap;
}

.columntext {
  width: 50%;
  display: inline-block;
  padding-top: 100px;
  padding-left: 50px;
  padding-bottom: 30px;
}
.columnimg {
  width: 50%;
  display: inline-block;
  padding-top: 100px;
  padding-bottom: 70px;
  padding-right: 60px;
}


@media only screen and (max-width: 576px){
  .cloud-head {
    display: flex;
    flex-wrap: wrap;
  }
  .columntext {
    width: 100%;
    margin-right: 35px;
    padding-left: 30px;
    margin-top: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .columnimg {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 70px;
    margin-left: 50px;
  }
  .buttons {
    margin-bottom: 10px;
  }
}

h2.cloudtag {
  font-size: 3rem;
  font-family: 'Nunito Sans',Arial,sans-serif;
  margin-bottom: 20px;
  text-align: center;
}

p.cloudtext {
  font-family: 'Nunito',Arial,sans-serif;
  text-align: center;
}
h4.Prototype {
  color: #0D47A1;
  font-size: 2.4rem;
  font-weight: bold;
  padding-bottom: 15px;
  padding-top: 12px;
  font-family: 'Nunito Sans',Arial,sans-serif;
  display: inline-block;
}

.buttons {
  margin-bottom: 60px;
}



/* Role */
.solutioncontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}
.phonecap {
  text-align: left;
  margin-top: 45px;
  margin-bottom: 10px;
}
.phone-left {
  font-family: "helvetica";
  font-size: 1.2rem;
  margin-right: 15px;
  margin-left: 30px;
  display: inline-block;
}
.phone-right {
  font-family: "helvetica";
  font-size: 1.2rem;
  margin-left: 15px;
  display: inline-block;
  margin-right: 30px;
}
/* Process */
h2.Process-header {
  color: #333333;
  font-family: 'Nunito Sans',Arial,sans-serif;
  font-size: 3.8rem;
  font-weight: bold;
  margin-bottom: 30px;
}
/* competitive analysis */
.competitors {
  align-items: center;
  padding-top: 50px;
}
.img-container {
  padding: 5px;
}
/* user research */
p.fact {
  font-size: 2.0rem;
  color: #0097A7;
  font-weight: bold;
  line-height: 50px;
}
/* user flows */
.flowcap {
  text-align: left;
  margin-top: 45px;
  margin-bottom: 10px;
}
.flow-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.landing-container {
  font-family: "helvetica";
  font-size: 1.2rem;
  display: inline-block;
  margin-right: 10px;
}
.organize-container {
  font-family: "helvetica";
  font-size: 1.2rem;
  display: inline-block;
  margin-left: 10px;
}
h5.user-flows {
  font-family: "helvetica";
  font-size: 2.1rem;
  margin-top: 20px;
  color: #333333;
}
/* sketch/wireframes */
.screen-container {
  font-family: "helvetica";
  font-size: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  display: inline-block;
  height: auto;
  width: 100%;
}


/*sketch mobile screen*/

 @media only screen and (max-width: 575px) {
 .screencap {
   margin-top: 45px;
   margin-bottom: 10px;
 }
#joinus-container {
  display: inline-block;
  padding: 10px;
  display: block;
}
#create-container {
  display: inline-block;
  padding: 10px;
  display: block;
}
#dash-container {
  display: inline-block;
  padding: 10px;
  display: block;
}
.joinus-container {
  display: none;
}
.create-container{
  display: none;
}
.dash-container{
  display: none;
}
}
/*sketch desktop screen*/
@media only screen and (min-width: 576px) {
  .screencap {
    text-align: left;
    margin-top: 45px;
    margin-bottom: 10px;
  }
  #joinus-container {
    display: none;
  }
  #create-container {
    display: none;
  }
  #dash-container {
    display: none;
  }
.joinus-container{
  display: inline-block;
  padding: 10px;
}
.create-container{
  display: inline-block;
  margin: 10px;
}
.dash-container{
  display: inline-block;
  margin: 10px;
}
}

/*Lofidelity*/

h6.loficap {
  margin-bottom: 10px;
  font-family: "helvetica";
  font-size: 1.2rem;
  text-align: left;
}

.dashboard-container{
  padding: 10px;
}
.lofi1-container{
  margin: 10px;
  /* padding-top: 60px; */
}
.lofi2-container{
 margin: 10px;
 /* padding-top: 60px; */
}
/*lofi mobile screen*/
@media only screen and (max-width: 575px){
  .lofi-container {
    font-family: "helvetica";
    font-size: 1.2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:auto;
  }
  .arrow1 {
  display: none;
}
.arrow2 {
  display: none;
}
#arrow1 {
  display: inline-block;
  margin: 10px;
}
#arrow2 {
  display: inline-block;
  margin: 10px;
}
}
/*lofi desktop screen*/
@media only screen and (min-width: 576px){
  .lofi-container {
    font-family: "helvetica";
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:auto;

  }
  .arrow1 {
    display: inline-block;
  }
  .arrow2 {
    display: inline-block;
  }
  #arrow1 {
    display: none;
  }
#arrow2 {
  display: none;
}
}

p.keyfact {
  font-size: 2.0rem;
  color: #0097A7;
  font-weight: bold;
  margin-top: 15px;
}
/*branding*/
.brand-container {
  font-family: "helvetica";
  font-size: 1.2rem;
  display: inline-block;
}
.logo-container {
  float: left;
}
.vision-container{
  float: left;

}
.logocap {
  text-align: left;
  margin-top: 45px;
  margin-bottom: 10px;
}
.visioncap {
  text-align: left;
  margin-top: 45px;
  margin-bottom: 10px;
}
.vision {
  display: inline-block;
  padding-left: 10px;
}
.brand {
  display: inline-block;
  padding-left: 10px;
}
/*hifi*/

.hifi-continer {
  font-size: 1.2rem;
  display: inline-block;
}
.originalcap {
  text-align: left;
  font-size: 1.2rem;
  font-family: 'helvetica',Arial, sans-serif;
  margin-top: 45px;
  margin-bottom: 10px;
}
.revisedcap {
  font-family: 'helvetica',Arial, sans-serif;
  text-align: left;
  font-size: 1.2rem;
  text-align: left;
  margin-top: 45px;
  margin-bottom: 10px;
}

/*desktop hifi*/
@media only screen and (min-width: 575px){
  .hifi-container {
    text-align: center;

  }
  #original-container {
    display: none;
  }
  #revised-container {
    display: none;
  }
  .original-container {
  display: inline-block;
}
.revised-container {
  display: inline-block;
  margin: 0 auto;
   margin-bottom: 30px;
}
}
/*mobile hifi*/
@media only screen and (max-width: 575px){
  #original-container {
    display: inline-block;
  }
  #revised-container {
    display: inline-block;
    margin-bottom: 30px;
  }
  .original-container {
    display: none;
  }
  .revised-container {
    display: none;
  }
}

/*conclusion*/
.final{
  margin-top: 50px;
}



/*styling*/
.color {
  background-color: #D9EFF2;
  width: 100%;
  padding-bottom: 60px;
  padding-top: 80px;
}
.clear {
  width: 100%;
  padding-bottom: 60px;
  padding-top: 80px;
  }
img {
  max-width: 100%;
  height: auto;
}
h3 {
  color: #0D47A1;
  font-size: 2.4rem;
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 12px;
  font-family: 'Nunito Sans',Arial,sans-serif;
  text-align: left;
  width: 60%;
  display: inline-block;
}

p {
  font-family: 'Nunito',Arial,sans-serif;
  font-size: 2rem;
  line-height: 160%;
  width: 60%;
  text-align: left;
  color: #333333;
  display: inline-block;
}
@media only screen and (max-width: 575px) {
  p {
    font-family: 'Nunito',Arial,sans-serif;
    font-size: 2rem;
    line-height: 160%;
    width: 80%;
    text-align: left;
    color: #333333;
    display: inline-block;
  }
}
  /*aboutme*/
  @media only screen and (max-width: 575px) {
  .meimg {
    margin: 30px;
  }
p.paratext {
  display: inline-block;
  margin-top: 20px;
  font-size: 2rem;
  line-height: 180%;
  text-align: left;
  font-family: 'Nunito',Arial,sans-serif;

}
