* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
.container {
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  text-align: center;
}


/*main header*/
/*@media screen and (min-width: 560px) {
  position: relative;
  border: none;
  margin-top: 1rem;
}
*/
.name {
  color: #0097A7;
  font-size: 5.6rem;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: bold;
  margin-top: 56px;
}
.title {
  font-family: "Nunito Sans";
  color: #5C5C5C;
  font-size: 3.2rem;
  margin-top: 10px;

}
nav {
  width: 100%;
}
ul {
  font-family: helvetica;
  font-size: 1.4rem;
  display: inline-block;
  margin-top: 15px;
}
li {
  float: left;
}
li a {
  font-size: 2.0rem;
  display: inline-block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: #0D47A1;
  padding-bottom: 30px;
  font-family: helvetica;
}

a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}

.column_img {
  float: left;
  width: 10%;
  margin-left: 35%;
  margin-top: 20px;
}
.column_txt {
  float: left;
  width: 25%;
  font-size: 2.4rem;
  max-width: 80%;
  text-align: left;
  display: inline-block;
  margin-left: 1px;
  margin-top: 20px;
  font-family: 'Nunito';

}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  margin: 1%;

}
.column_doc_img {
  float: left;
  width: 15%;
  margin-left: 1%;
}
.column_doc_txt {
  float: left;
  font-size: 2rem;
  max-width: 25%;
  text-align: center;
  margin-left: 20%;
  margin-top: 10%;
  font-family: 'Nunito';

}
.row2:after {
  content: "";
  display: table;
  clear: both;
}


.description {
  font-family: 'Nunito';
  color: #333333;
  font-size: 1.8rem;
}

/*body*/
h3.explore {
  color: #0097A7;
  font-size: 2.2rem;
  font-weight: bold;
  margin-top: 10px;
}
h4.DocuVAULT {
  color: #0D47A1;
  font-weight: bold;
  font-size: 4.8rem;
  text-align: center;
  font-family: "Nunito Sans";
  margin-bottom: 30px;
}
.DocuVAULT-text {
  float: left;
  padding-bottom: 20px;
  font-size: 1.8rem;
}
.Case-Study {
  font-size: 1.8rem;

}
h4.me {
  font-size: 4.8rem;
  color: #0D47A1;
  font-weight: bold;
  padding-top: 10%;
  font-family: "Nunito Sans";
}
p.aboutmetext {
  display: inline-block;
  margin-top: 20px;
  max-width: 610px;
  font-size: 1.6rem;
  line-height: 180%;
  text-align: center;
  font-family: 'Nunito';
}

/*footer*/
.chat {
  font-size: 3.2rem;
  color: #0D47A1;
  font-weight: bold;
  text-align: center;
  width: 100%;
  font-family: "Nunito Sans";
  margin-top: 50px;
}

.links {
  align-items: center;
  color: #333333;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

/*Projects*/
.cloudtagline {
  font-size: 3rem;
  font-family: "Roboto Condensed";
}

p.cloudtext {
  font-family: "Roboto";
}

.buttons {
  margin-bottom: 60px;
}

h3 {
  color: #0D47A1;
  font-size: 2.4rem;
  font-weight: bold;
  padding-bottom: 15px;
  padding-top: 12px;
  font-family: "Nunito Sans";
  text-align: left;
  width: 60%;
  display: inline-block;
}

p {
  font-family: "Nunito";
  font-size: 2rem;
  line-height: 160%;
  width: 60%;
  text-align: left;
  color: #333333;
  display: inline-block;
}
h4.Prototype {
  color: #0D47A1;
  font-size: 2.4rem;
  font-weight: bold;
  padding-bottom: 15px;
  padding-top: 12px;
  font-family: "Nunito Sans";
  text-align: center;
  width: 60%;
  display: inline-block;
}
figcaption {
  text-align: left;
  margin-top: 45px;
  margin-bottom: 10px;
}
.phone-left {
  font-family: "helvetica";
  font-size: 1.2rem;
  margin-right: 15px;
  display: inline-block;
}
.phone-right {
  font-family: "helvetica";
  font-size: 1.2rem;
  margin-left: 15px;
  display: inline-block;
}
h2.Process-header {
  color: #333333;
  font-family: "Nunito Sans";
  font-size: 3.8rem;
  font-weight: bold;
  margin-bottom: 30px;
  display: inline-block;
}
.competitors {
  align-items: center;
  padding-top: 50px;
}
.img-container {
  padding: 5px;
}

p.fact {
  font-size: 2.0rem;
  color: #0097A7;
  font-weight: bold;
  line-height: 50px;
}
.flows {
  display: inline-block;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
h6 {
  font-family: "helvetica";
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: left;
  max-width: 60%;
}

h5.user-flows {
  font-family: "helvetica";
  font-size: 2.1rem;
}

.cloud-head {
  display: flex;
  flex-wrap: wrap;
  display: inline-block;
  margin-bottom: 30px;
}
.color {
  background-color: #D9EFF2;
  width: 100%;
  padding-bottom: 60px;
  padding-top: 80px;
}
.clear {
    width: 100%;
    padding-bottom: 60px;
    padding-top: 80px;
  }
